<footer th:fragment="footer" class="section_footer">
    	<div class="container">
    		<div class="mail_section">
    			<ul>
    				<li class="footer-logo"><img src="images/logo.png"></li>
    				<li class="footer-logo"><img src="images/call-icon.png"><span class="map_text" >(+71) 9876543210</span></li>
    				<li class="footer-logo"><img src="images/email-icon.png"><span class="map_text">huellitasAmigas@gmail.com</span></li>
    			</ul>
    	    </div> 
    	    
    	        <div class="social-icon">
	        	    <div class="row">
	        		    <div class="col-sm-12">
	        			    <div class="icons">
	        				    <ul>
	        					    <li><a href="#"><img src="images/fb-icon.png"></a></li>
	        					    <li><a href="#"><img src="images/twitter-icon.png"></a></li>
	        					    <li><a href="#"><img src="images/google-icon.png"></a></li>
	        					    <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
	        				    </ul>
	        			    </div>
	        		    </div>
	        	    </div>
	            </div>
	            <div class="copyright">2022 All Rights Reserved. <a href="https://html.design"></a></div>
	        </div>
    	</div>
</footer>