<header th:fragment="header">
	<!-- section banner start -->
	<div class="header_section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div><a href="index.html"><img src="images/logo.png"></a></div>
				</div>
				<div class="col-md-8">
					<div class="menu_text">
						<ul>
							<li class="last">
								
								<a class="nav-link" style="color: #19535f" aria-current="page" href="#">Ingresar</a>
							</li>
							<li class="last">
								<a class="nav-link" style="color: #19535f" aria-current="page" href="#">Registrarse</a>
							</li>
							<li class="active">
							 <div id="myNav" class="overlay">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                             <div class="overlay-content">
                             	<a href="home.html">Home</a>
                                <a href="">About</a>
                                <a href="">Gallery</a>
                                <a href="">Contact</a>
                              </div>
                            </div>
                             <span style="color: #ffc09f;font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
                            </div>	
                            </li>
						</ul>
					</div>
			</div>
		</div>
		<div class="banner_main">
			<div class="container">
				<div class="ram">
					<div class="row">
					    <div class="col-md-12">
						    <h4 style="font-size: 55px;text-align:left;margin: 2em;color:#19535f ; text-shadow:white 0.1em 0.1em 0.2em">"Para Comprar un animal basta tener dinero, para adoptar hay que tener corazón"</h4>

						    <div class="banner_bt">
						    </div>
					    </div>
				    </div>
				</div>
				<div class="box">
					<br>
				</div>
			</div>
		</div>
	</div>
</header>