<header th:fragment="header" class="p-3 bg-white border">

    <div class="container">

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <a class="navbar-brand icono" href="index.html"><img src="../static/img/logo.png" alt="icono" width="128"></a>

            <ul class="nav col-18 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

                <li><a href="home.html" class="nav-link px-2 texto-menu-var">Home</a></li>
                <li><a href="facundo.html" class="nav-link px-2 texto-menu-var">Mascotas</a></li>
                <li><a href="dar_en_adopcion.html" class="nav-link px-2 texto-menu-var">Cargar Tu Mascota</a></li>
                <li><a href="#" class="nav-link px-2 texto-menu-var">Contacto</a></li>

            </ul>

            <div class="dropdown text-end">

                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

                    <img src="https://github.com/Facundodg.png" alt="mdo" width="32" height="32" class="rounded-circle">

                </a>

                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">

                    <li><a class="dropdown-item" href="#">Ajustes</a></li>
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Desconectar</a></li>

                </ul>

            </div>

        </div>

    </div>

</header>