<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index</title>
    </head>
    <body>
        <h1>Usuario logueado con exito</h1>
        <h2 th:if="${session.usuariosession != null}" th:text="${session.usuariosession.apellido + ' ' + session.usuariosession.nombre}">Usuario</h2>
        <br>
        <a href="/logout"><button>Salir</button></a>
    </body>
</html>
