<!DOCTYPE html>
<html lang="es">
<head th:replace="layouts/head :: head"></head>

<body>
    <header th:replace="layouts/header :: header"></header>
    
    <div class="container text-center mt-3 mb-3">

        <h2 class="fs-7 ms-2 fw-bold">Tener en Cuenta a la hora de Adoptar</h2>

    </div>

    <div class="container d-flex justify-content-center w-100 paso-1 p-3">

        <div  id="cartas-info" class="card d-flex justify-content-center w-100 mx-auto">

            <img class="" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_600/public/gato-o-perro%20%282%29.png?itok=bDwAjC9R" alt="">
            <h3>¿Gato o Perro?</h3>
            <p>Los gatos son independientes y mimosos, los perros juguetones y traviesos.</p>

        </div>

        <div  id="cartas-info" class="card d-flex justify-content-center w-100 mx-auto">

            <img class="" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_600/public/TAMAN%CC%83O%20%281%29.png?itok=fI77IDUJ" alt="">
            <h3>Tamaño</h3>
            <p>Considera el espacio de tu hogar para elegir el tamaño de tu mascota.</p>

        </div>

        
        <div  id="cartas-info" class="card d-flex justify-content-center w-100 mx-auto">

            <img class="" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_600/public/TIPO-DE-PELO%20%281%29.png?itok=fdr4Ch_W" alt="">
            <h3>Tipo de Pelo</h3>
            <p>Hay pelajes que requieren más cuidados que otros.</p>

        </div>

                
        <div id="cartas-info" class="card d-flex justify-content-center w-100 mx-auto">

            <img class="" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_600/public/EDAD%20%281%29.png?itok=-bfDhXg1" alt="">
            <h3>Edad</h3>
            <p>Una mascota menos de un año necesita atenciones distintas a las de un adulto.</p>

        </div>

    </div>

    <!-----------SEGUNDA FILA--------------------->

    <div class="container d-flex justify-content-center w-100 paso-1 p-3">

        <div  id="cartas-info" class="card d-flex justify-content-center w-100 mx-auto">

            <img class="" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_600/public/PRESUPUESTO%20%281%29.png?itok=kI7-lpUu" alt="">
            <h3>Presupuesto</h3>
            <p>Calcula los gastos de alimento, vacunas y productos de higiene antes de adoptar.</p>

        </div>

        <div  id="cartas-info" class="card d-flex justify-content-center w-100 mx-auto">

            <img class="" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_600/public/TIEMPO%20%281%29.png?itok=Iriu13KU" alt="">
            <h3>Tiempo</h3>
            <p>Una mascota necesita que le dediques tiempo para jugar y cuidarla.</p>

        </div>

        
        <div  id="cartas-info" class="card d-flex justify-content-center w-100 mx-auto">

            <img class="" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_600/public/PERSONALIDAD%20%281%29.png?itok=JdR9seyt" alt="">
            <h3>Personalidad</h3>
            <p>Tú y tu nuevo mejor amigo deben tener las personalidades compatibles.</p>

        </div>

                
        <div id="cartas-info" class="card d-flex justify-content-center w-100 mx-auto">

            <img class="" src="https://www.purina-latam.com/sites/g/files/auxxlc391/files/styles/kraken_generic_max_width_600/public/ESTILO-DE-VIDA%20%281%29.png?itok=og5Jyi8C" alt="">
            <h3>Estilo de Vida</h3>
            <p>Busca una mascota que armonice con tu rutina y actividades diarias.</p>

        </div>

    </div>

    <div class="container text-center mt-3 mb-3">

        <h2 class="fs-7 ms-2 fw-bold">Mascotas</h2>

    </div>

    <div class="container d-flex justify-content-center  botones-tipo w-100">

        <div class="dropdown show mx-3">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tipo de Animal
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Gato</a>
              <a class="dropdown-item" href="#">Perro</a>
            </div>
        </div>

        <div class="dropdown show mx-3">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tamaño
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Chico</a>
              <a class="dropdown-item" href="#">Mediano</a>
              <a class="dropdown-item" href="#">Grande</a>
            </div>
        </div>
        
        <div class="dropdown show mx-3">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sexo
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Macho</a>
              <a class="dropdown-item" href="#">Hembra</a>
            </div>
        </div>

        <button type="button" class="btn btn-primary mx-3">Busca Por Filtro</button>

    </div>

    <!--AQUI SE CARGAN LAS CARDS MEDIANTE FETCH Y DOM-->

    <div class="container mt-5 w-100 d-flex justify-content-center">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 misColumnas">

        </div>

    </div>

    <!--AQUI ESTA EL ESPINNER DE CARGA-->

     <div class="container d-flex justify-content-center align-items-center">

        <div id="spinner" class="spinner-border text-black" role="status">
      
             <span class="visually-hidden">Cargando...</span>
        
        </div>
      
    </div>

    <!--FIN DE EL ESPINNER-->

    <!--COMIENZO DEL COMPONENTE DE LA PAGINACION-->

        <nav class="paginacion d-flex justify-content-center align-items-center mt-3">

            <ul class="pagination">

                <li id="anterior" class="page-item"><a class="page-link paginacion-botones text-white" href="#">Anterior</a></li>
                <li id="siguiente" class="page-item"><a class="page-link paginacion-botones text-white" href="#">Siguiente</a></li>

            </ul>

        </nav>
    <footer th:replace="layouts/footer :: footer"></footer>
</body>

</html>