*{

    font-family: 'Roboto', sans-serif;

}

.botones-cards{

    background-color: #F36A6E !important;
    border: 3px solid #F36A6E !important;
    
}


.botones-tipo a{

    background-color: #F36A6E !important;
    border: 3px solid #F36A6E !important;
    color: #FFFFFF !important;

}

.paginacion-botones{

    background-color: #F36A6E !important;
    border: 3px solid #F36A6E !important;
    
}

.paso-1{

    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;

}

#cartas-info{

    max-width: 300px;
    max-height: 350px;
    justify-content: center;
    text-align: center;
    border: none !important;
    color: black;


}