*{

    font-family: 'Roboto', sans-serif;

}

.paso-1{

    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;

}

#cartas-info{

    max-width: 300px;
    max-height: 350px;
    justify-content: center;
    text-align: center;
    border: none !important;
    color: black;


}